# Ignore everything
**

# Allow needed files and directories
!/build//bootScripts/**
!/build/libs/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/.DS_Store
